---
import Layout from '../layouts/Layout.astro';
import HomeHero from '../components/home/HomeHero.astro';
import HomeBio from '../components/home/HomeBio.astro';
---

<Layout pageTitle="Tanishaa Rao — Home">
  <div class="flex min-h-[calc(100vh-8rem)] w-full flex-col">
    <div class="flex-[2] flex items-center justify-center">
      <HomeHero />
    </div>
    <div class="flex-[1] flex items-center justify-center pb-8">
      <HomeBio />
    </div>
  </div>
</Layout>
