<section class="w-full flex flex-col items-center">
  <p class="body-copy-justify body-copy-hero text-[12px] leading-relaxed tracking-[0.01em]">
    I’m a multidisciplinary designer and first developed a passion for creative work through food, and then through things like graphic design, photography, and crafted objects. Most of my work involves juxtaposing different types of media and combining digital and physical components to create layered results that are based on concepts. Photography is a big part of my creative process, whether to tell stories or experiment. When I’m not working, I'm probably off exploring something unexpected, and those experiences often make their way back into my work.
  </p>
</section>
